body {
    background-image: url(https://img.freepik.com/free-vector/flower-background-desktop-wallpaper-cute-vector_53876-136877.jpg);
 font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
 text-align: center;
} 
header {
    text-align: center;
    word-spacing: 200px;
    border: 10px solid rgba(69, 233, 164, 0.596);
    padding: 5px;
    outline-style: double;
    background-color: rgba(179, 247, 218, 0.596);

}
.titulo {
    color: rgb(19, 118, 230);
    font-size: 50px;
}

#seccion1 {
    font-size: 100%;
    position: relative;
}
#seccion2 {
    font-size: 100%;
    position: relative;
    border: 5px solid aquamarine;
}

.linkig:visited{
    color: red;
    
}
img{
    border-style: groove;
    border-color: rgb(255, 174, 0);
    border-width: 20px;
   
}

#seccion1>p {
    font-style: italic;
    font-size: 150%    ;
}


div.Paco   {
    text-align: center;

}
#seccion1 > #yo {
    font-size: 35px;

}
#seccion1 > #mama {
    font-size: 30px;
    text-align: center;
    width: 70%;
    margin-left: 15%;
    
}
p {
    font-size: 25px;
}

h3{
    font-size: 30px;

}
.resaltado {
    background-color: pink;
    text-decoration: underline ;
    color: rgb(248, 11, 217);

}
#Paco {
    text-align: justify;

}